.app-content-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.app-footer {
    width: 100% !important;
    margin: 0 !important;
}

.app {
    background: #FFFFFF url('../img/logo_pattern-piece.png') repeat 50% 50%;
    background-size: 242px !important;
}

.app-content-body {
    padding: 10px !important;
}

.awery-logo {
    width: 306px;
    margin-bottom: 30px;
}

.logo-cutted {
    width: 50px;
    overflow: hidden;
    display: inline-block;
}

.add-new-system,
.clear-all-downloads {
    padding: 5px 19px 6px 42px;
    background: #F1F1F1 url('../img/add.svg') no-repeat 20px 50%;
    border-radius: 100px;
    border: none;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.clear-all-downloads {
    background: #F1F1F1 url('../img/clear.svg') no-repeat 20px 50%;
    margin-bottom: 30px;
}

.add-new-system:active,
.clear-all-downloads:active {
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.awery-switch {
    background: #F1F1F1;
    padding: 5px 19px 6px 19px;
    border-radius: 0;
    border: none;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.awery-switch:first-child {
    border-radius: 100px 0 0 100px;
}

.awery-switch:last-child {
    border-radius: 0 100px 100px 0;
}

.awery-switch.active {
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.systems {
    width: 600px;
    margin: 30px auto 0 auto;
}

.system {
    background: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 20px 25px;
    position: relative;
    float: left;
    cursor: pointer;
}

.system > .logo {
    width: 170px;
    height: 60px;
    float: left;
    object-fit: contain;
}

.system > .no-logo {
    width: 170px;
    height: 60px;
    float: left;
    background: #F1F1F1;
}

.system > .name {
    width: calc(100% - 200px);
    margin-left: 30px;
    float: left;
    text-align: left;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.system > .link {
    width: calc(100% - 200px);
    margin-left: 30px;
    float: left;
    text-align: left;
    color: #000000;
    font-size: 14px;
    line-height: 19px;
}

.system > .edit {
    border: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffffff url('../img/edit.svg') no-repeat 50% 50%;
}

.need-authorize {
    border-radius: 100px;
    background-color: #FA5050;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 36px;
    padding: 0 7px;
}

.form-box {
    width: 300px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 40px;
    position: relative;
}

.form-box.loading {
    padding: 20px;
}

.form-box.loading > h1 {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    color: #000000;
}

.form-box > .progress {
    width: 100%;
    float: left;
    height: 10px;
    border-radius: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #4ff4d2, #187cfb 48%, #fa5050);
}

.form-box > .progress > .progress-inner {
    float: right;
    width: 100%;
    transition: width 0.75s ease;
    background-color: #ebebeb;
    height: 10px;
}

.form-box.loading.error > h1 {
    width: calc(100% - 85px);
    float: left;
    color: #e60000;
}

.form-box.loading > button {
    float: right;
    font-size: 14px;
    width: 85px;
    line-height: 14px;
    font-weight: 600;
    color: #187bfb;
    text-transform: uppercase;
    padding: 3px 20px 1px 5px;
    background: url('../img/restart.svg') no-repeat calc(100% - 4px) 50%;
    border: none;
    transition: all 0.25s ease;
    display: none;
}

.form-box.loading.error > button {
    display: block;
}

.form-box.loading > button:active,
.form-box.loading > button:focus {
    color: rgba(23, 123, 254, 0.75);
}

.form-group {
    margin-bottom: 15px;
}

.form-group > label {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-left: 2px;
    float: left;
}

.form-control {
    border-radius: 5px !important;
    background-color: #F8F8F8;
    padding: 8px 10px;
    border: 1px solid #F8F8F8 !important;
    transition: all 0.25s ease;
    font-size: 18px;
    line-height: 24px;
}

.form-control:active, .form-control:focus {
    background: #FFFFFF;
    color: #000000;
}

.awery-button {
    margin-top: 20px;
    padding: 7px 49px 9px 29px;
    border-radius: 100px;
    border: none;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    transition: all 0.25s ease;
    background: #F1F1F1 url('../img/arrow-right.svg') no-repeat calc(100% - 30px) 50%;
}

.awery-button:active {
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.gradient-button {
    box-shadow: 0 2px 5px 0 rgba(24, 123, 251, 0.5);
    color: #FFFFFF;
    background: url('../img/arrow-right-white.svg') no-repeat calc(100% - 30px) 50%, linear-gradient(177.9deg, #4FF4D2 0%, #187CFB 47.52%, #FA5050 140%);
}

.gradient-button:hover {
    box-shadow: 0 2px 10px 0 rgba(24, 123, 251, 0.5);
}

.form-box > .back {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #F1F1F1 url('../img/arrow-left.svg') no-repeat 50% 50%;
    transition: all 0.25s ease;
}

.form-box > .back:active {
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.awery-button.delete-button {
    background: #F1F1F1 url('../img/delete.svg') no-repeat calc(100% - 30px) 50%;
}

.form-box > .logo {
    margin-bottom: 25px;
    width: 180px;
    height: 60px;
    object-fit: contain;
}

.form-box > .no-logo {
    margin-bottom: 25px;
    width: 180px;
    height: 60px;
    background: #F1F1F1;
    display: inline-block;
}

.downloads {
    width: 600px;
    margin: 30px auto 0 auto;
    max-height: calc(100vh - 125px);
}

.downloads > .downloads-scroll {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.download {
    background: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 20px;
    position: relative;
    float: left;
    cursor: pointer;
}

.download > .delete {
    border: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffffff url('../img/delete.svg') no-repeat 50% 50%;
    transition: all 0.25s ease;
}

.download > .delete:hover {
    background: #ffffff url('../img/delete-red.svg') no-repeat 50% 50%;
}

.download > .icon {
    width: 30px;
    height: 30px;
    float: left;
    padding: 3px;
    margin-right: 20px;
}

.download > .icon > .fa {
    line-height: 24px;
    font-size: 24px;
}

.download > .name,
.download > .date,
.download > .size {
    float: left;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-right: 20px;
    text-align: left;
}

.download > .link {
    width: calc(100% - 50px);
    float: left;
    font-size: 12px;
    line-height: 17px;
    color: #B2B2B2;
    text-align: left;
}

.downloads > .form-control {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 19px;
    background: #F8F8F8 url('../img/search.svg') no-repeat calc(100% - 10px) 50%;
}

.downloads > .form-control:active, .downloads > .form-control:focus {
    background: #FFFFFF url('../img/search.svg') no-repeat calc(100% - 10px) 50%;
}

.gradient-button[disabled] {
    background: #777777 url('../img/arrow-right-white.svg') no-repeat calc(100% - 30px) 50%;
    box-shadow: none;
}

body {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

input {
    -webkit-user-select: auto;
    -webkit-app-region: no-drag;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .app {
        background: #FFFFFF url('../img/logo_pattern-piece@2x.png') repeat 50% 50%;
    }
}

@media (max-width: 767px) {
    .app.updater {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
