<div style="margin: auto; text-align: center;" ng-controller="LoginSystemController">
    <img src="assets/img/awery_erp.svg" class="awery-logo">
    <div class="form-box">
        <a ui-sref="app.dashboard" class="back">&nbsp;</a>
        <img ng-src="{{system.logo}}" ng-show="system.logo!=='' && system.logo!==null" class="logo">
        <div class="no-logo" ng-show="system.logo==='' || system.logo===null"></div>
        <div class="form-group">
            <label>Login</label>
            <input type="text" ng-model="system.login" class="form-control" placeholder="LOGIN">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" ng-model="system.password" class="form-control" placeholder="PASSWORD" ng-keyup="maybeLogin($event);">
        </div>
        <button ng-click="saveSystem()" class="awery-button gradient-button">Login</button>
    </div>
</div>